.app.dark {
    --bg-color: rgb(9 9 107);
    --inverted-bg-color: rgb(240 240 248);
    --primary-color: rgb(8 242 8);
    --secondary-color: rgb(27 163 27);
    --inverted-primary-color: rgb(26 7 174);
    --inverted-secondary-color: rgb(8 164 242);
}
