.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #ff7921;
    --primary-color: #ac2114;
    --secondary-color: #de3424;
    --inverted-primary-color: rgb(255 255 255);
    --inverted-secondary-color: rgb(201 210 210);

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
