.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 30px;
}

.recommendations {
    margin-top: 10px;
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    overflow-x: auto;
}
